:root {
    --ck-border-radius: var(--radius-field) !important;
    --ck-content-font-size: 12pt !important;
}

.ck.ck-toolbar {
    @apply !border-none !bg-base-200
}

.ck.ck-editor__editable_inline {
    @apply !border !border-neutral !rounded-none
}

.ck.ck-editor__editable.ck-focused {
    @apply !ring !ring-[var(--ck-color-focus-border)]
}

.ck.ck-menu-bar {
    @apply rounded-t-field bg-white !border-neutral !bg-base-200
}

.ck.ck-menu-bar__menu__button {
    @apply !bg-base-200 hover:bg-base-300!
}