@page {
    size: A4 portrait;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

.mention {
    background: var(--ck-content-color-mention-background);
    color: var(--ck-content-color-mention-text);
}

code {
    background-color: hsla(0, 0%, 78%, .3);
    border-radius: 2px;
    padding: .15em;
}

blockquote {
    border-left: 5px solid #ccc;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.ck-content[dir=rtl] blockquote {
    border-left: 0;
    border-right: 5px solid #ccc;
}

pre {
    background: hsla(0, 0%, 78%, .3);
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    color: #353535;
    direction: ltr;
    font-style: normal;
    min-width: 200px;
    padding: 1em;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
}

pre code {
    background: unset;
    border-radius: 0;
    padding: 0;
}

:root {
    --ck-content-color-mention-background: rgba(153, 0, 48, .1);
    --ck-content-color-mention-text: #990030;

    --ck-content-font-family: 'Times New Roman', Times, serif;
    --ck-content-font-size: medium;
    --ck-content-font-color: #000;
    --ck-content-line-height: 1.3;
    --ck-content-word-break: break-word;

    --ck-content-font-size-tiny: 0.7em;
    --ck-content-font-size-small: 0.85em;
    --ck-content-font-size-big: 1.4em;
    --ck-content-font-size-huge: 1.8em;

    --ck-content-highlight-marker-yellow: #fdfd77;
    --ck-content-highlight-marker-green: #62f962;
    --ck-content-highlight-marker-pink: #fc7899;
    --ck-content-highlight-marker-blue: #72ccfd;
    --ck-content-highlight-pen-red: #e71313;
    --ck-content-highlight-pen-green: #128a00;

    color: var(--ck-content-font-color);
    font-family: var(--ck-content-font-family);
    font-size: var(--ck-content-font-size);
    line-height: var(--ck-content-line-height);
    word-break: var(--ck-content-word-break);
}

body {
    position: relative;
    min-height: 297mm;
    padding: 2cm;
}

.text-tiny {
    font-size: var(--ck-content-font-size-tiny);
}

.text-small {
    font-size: var(--ck-content-font-size-small);
}

.text-big {
    font-size: var(--ck-content-font-size-big);
}

.text-huge {
    font-size: var(--ck-content-font-size-huge);
}

.marker-yellow {
    background-color: var(--ck-content-highlight-marker-yellow);
}

.marker-green {
    background-color: var(--ck-content-highlight-marker-green);
}

.marker-pink {
    background-color: var(--ck-content-highlight-marker-pink);
}

.marker-blue {
    background-color: var(--ck-content-highlight-marker-blue);
}

.pen-red {
    background-color: transparent;
    color: var(--ck-content-highlight-pen-red);
}

.pen-green {
    background-color: transparent;
    color: var(--ck-content-highlight-pen-green);
}

hr {
    background: #dedede;
    border: 0;
    height: 4px;
    margin: 15px 0;
}

:root {
    --ck-content-color-image-caption-background: #f7f7f7;
    --ck-content-color-image-caption-text: #333;
}

.image>figcaption {
    background-color: var(--ck-content-color-image-caption-background);
    break-before: avoid;
    caption-side: bottom;
    color: var(--ck-content-color-image-caption-text);
    display: table-caption;
    font-size: .75em;
    outline-offset: -1px;
    overflow-wrap: anywhere;
    padding: .6em;
    word-break: normal;
}

@media (forced-colors:active) {
    .image>figcaption {
        background-color: unset;
        color: unset
    }

    ;
}

img.image_resized {
    height: auto;
}

.image.image_resized {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

.image.image_resized img {
    width: 100%;
}

.image.image_resized>figcaption {
    display: block;
}

:root {
    --ck-content-image-style-spacing: 1.5em;
    --ck-content-inline-image-style-spacing: calc(var(--ck-content-image-style-spacing)/2);
}

.image.image-style-block-align-left,
.image.image-style-block-align-right {
    max-width: calc(100% - var(--ck-content-image-style-spacing));
}

.image.image-style-align-left,
.image.image-style-align-right {
    clear: none;
}

.image.image-style-side {
    float: right;
    margin-left: var(--ck-content-image-style-spacing);
    max-width: 50%;
}

.image.image-style-align-left {
    float: left;
    margin-right: var(--ck-content-image-style-spacing);
}

.image.image-style-align-right {
    float: right;
    margin-left: var(--ck-content-image-style-spacing);
}

.image.image-style-block-align-right {
    margin-left: auto;
    margin-right: 0;
}

.image.image-style-block-align-left {
    margin-left: 0;
    margin-right: auto;
}

.image-style-align-center {
    margin-left: auto;
    margin-right: auto;
}

.image-style-align-left {
    float: left;
    margin-right: var(--ck-content-image-style-spacing);
}

.image-style-align-right {
    float: right;
    margin-left: var(--ck-content-image-style-spacing);
}

p+.image.image-style-align-left,
p+.image.image-style-align-right,
p+.image.image-style-side {
    margin-top: 0;
}

.image-inline.image-style-align-left,
.image-inline.image-style-align-right {
    margin-bottom: var(--ck-content-inline-image-style-spacing);
    margin-top: var(--ck-content-inline-image-style-spacing);
}

.image-inline.image-style-align-left {
    margin-right: var(--ck-content-inline-image-style-spacing);
}

.image-inline.image-style-align-right {
    margin-left: var(--ck-content-inline-image-style-spacing);
}

.image {
    clear: both;
    display: table;
    margin: .9em auto;
    min-width: 50px;
    text-align: center;
}

.image img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
}

.image-inline {
    align-items: flex-start;
    display: inline-flex;
    max-width: 100%;
}

.image-inline picture {
    display: flex;
}

.image-inline img,
.image-inline picture {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
}

:root {
    --ck-content-list-marker-color: var(--ck-content-font-color);
    --ck-content-list-marker-font-family: var(--ck-content-font-family);
    --ck-content-list-marker-font-size: var(--ck-content-font-size);
}

li>p:first-of-type {
    margin-top: 0;
}

li>p:only-of-type {
    margin-bottom: 0;
    margin-top: 0;
}

li.ck-list-marker-bold::marker {
    font-weight: 700;
}

li.ck-list-marker-italic::marker {
    font-style: italic;
}

li.ck-list-marker-color::marker {
    color: var(--ck-content-list-marker-color);
}

li.ck-list-marker-font-family::marker {
    font-family: var(--ck-content-list-marker-font-family);
}

li.ck-list-marker-font-size::marker {
    font-size: var(--ck-content-list-marker-font-size);
}

li.ck-list-marker-font-size-tiny::marker {
    font-size: var(--ck-content-font-size-tiny);
}

li.ck-list-marker-font-size-small::marker {
    font-size: var(--ck-content-font-size-small);
}

li.ck-list-marker-font-size-big::marker {
    font-size: var(--ck-content-font-size-big);
}

li.ck-list-marker-font-size-huge::marker {
    font-size: var(--ck-content-font-size-huge);
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-latin;
}

ol ol ol {
    list-style-type: lower-roman;
}

ol ol ol ol {
    list-style-type: upper-latin;
}

ol ol ol ol ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
}

ul ul ul,
ul ul ul ul {
    list-style-type: square;
}

:root {
    --ck-content-todo-list-checkmark-size: 16px;
}

.todo-list {
    list-style: none;
}

.todo-list li {
    margin-bottom: 5px;
    position: relative;
}

.todo-list li .todo-list {
    margin-top: 5px;
}

.todo-list .todo-list__label>input {
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    height: var(--ck-content-todo-list-checkmark-size);
    left: -25px;
    margin-left: 0;
    margin-right: -15px;
    position: relative;
    right: 0;
    vertical-align: middle;
    width: var(--ck-content-todo-list-checkmark-size);
}

.ck-content[dir=rtl] .todo-list .todo-list__label>input {
    left: 0;
    margin-left: -15px;
    margin-right: 0;
    right: -25px;
}

.todo-list .todo-list__label>input:before {
    border: 1px solid #333;
    border-radius: 2px;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: box-shadow .25s ease-in-out;
    width: 100%;
}

@media (prefers-reduced-motion:reduce) {
    .todo-list .todo-list__label>input:before {
        transition: none
    }

    ;
}

.todo-list .todo-list__label>input:after {
    border-color: transparent;
    border-style: solid;
    border-width: 0 calc(var(--ck-content-todo-list-checkmark-size)/8) calc(var(--ck-content-todo-list-checkmark-size)/8) 0;
    box-sizing: content-box;
    content: "";
    display: block;
    height: calc(var(--ck-content-todo-list-checkmark-size)/2.6);
    left: calc(var(--ck-content-todo-list-checkmark-size)/3);
    pointer-events: none;
    position: absolute;
    top: calc(var(--ck-content-todo-list-checkmark-size)/5.3);
    transform: rotate(45deg);
    width: calc(var(--ck-content-todo-list-checkmark-size)/5.3);
}

.todo-list .todo-list__label>input[checked]:before {
    background: #26ab33;
    border-color: #26ab33;
}

.todo-list .todo-list__label>input[checked]:after {
    border-color: #fff;
}

.todo-list .todo-list__label .todo-list__label__description {
    vertical-align: middle;
}

.todo-list .todo-list__label.todo-list__label_without-description input[type=checkbox] {
    position: absolute;
}

.media {
    clear: both;
    display: block;
    margin: .9em 0;
    min-width: 15em;
}

.page-break {
    align-items: center;
    clear: both;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    position: relative;
}

.page-break:after {
    border-bottom: 2px dashed #c4c4c4;
    content: "";
    position: absolute;
    width: 100%;
}

.page-break__label {
    background: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .15);
    color: #333;
    display: block;
    font-size: .75em;
    font-weight: 700;
    padding: .3em .6em;
    position: relative;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

@media print {
    .page-break {
        padding: 0
    }

    .page-break:after {
        display: none
    }

    :has(+.page-break) {
        margin-bottom: 0
    }

    ;
}

.ck-content[dir=rtl] .table th {
    text-align: right;
}

.ck-content[dir=ltr] .table th {
    text-align: left;
}

figure.table:not(.layout-table) {
    display: table;
}

figure.table:not(.layout-table)>table {
    height: 100%;
    width: 100%;
}

.table:not(.layout-table) {
    margin: .9em auto;
}

figure.table:not(.layout-table)>table,
table.table:not(.layout-table) {
    border: 1px double #b3b3b3;
    border-collapse: collapse;
    border-spacing: 0;
}

figure.table:not(.layout-table)>table>tbody>tr>th,
figure.table:not(.layout-table)>table>thead>tr>th,
table.table:not(.layout-table)>tbody>tr>th,
table.table:not(.layout-table)>thead>tr>th {
    background: rgba(0, 0, 0, .05);
    font-weight: 700;
}

figure.table:not(.layout-table)>table>tbody>tr>td,
figure.table:not(.layout-table)>table>tbody>tr>th,
figure.table:not(.layout-table)>table>thead>tr>td,
figure.table:not(.layout-table)>table>thead>tr>th,
table.table:not(.layout-table)>tbody>tr>td,
table.table:not(.layout-table)>tbody>tr>th,
table.table:not(.layout-table)>thead>tr>td,
table.table:not(.layout-table)>thead>tr>th {
    border: 1px solid #bfbfbf;
    min-width: 2em;
    padding: .4em;
}

figure.table:not(.layout-table)>table>tbody>tr>td>p:first-of-type,
figure.table:not(.layout-table)>table>tbody>tr>th>p:first-of-type,
figure.table:not(.layout-table)>table>thead>tr>td>p:first-of-type,
figure.table:not(.layout-table)>table>thead>tr>th>p:first-of-type,
table.table:not(.layout-table)>tbody>tr>td>p:first-of-type,
table.table:not(.layout-table)>tbody>tr>th>p:first-of-type,
table.table:not(.layout-table)>thead>tr>td>p:first-of-type,
table.table:not(.layout-table)>thead>tr>th>p:first-of-type {
    margin-top: 0;
}

figure.table:not(.layout-table)>table>tbody>tr>td>p:last-of-type,
figure.table:not(.layout-table)>table>tbody>tr>th>p:last-of-type,
figure.table:not(.layout-table)>table>thead>tr>td>p:last-of-type,
figure.table:not(.layout-table)>table>thead>tr>th>p:last-of-type,
table.table:not(.layout-table)>tbody>tr>td>p:last-of-type,
table.table:not(.layout-table)>tbody>tr>th>p:last-of-type,
table.table:not(.layout-table)>thead>tr>td>p:last-of-type,
table.table:not(.layout-table)>thead>tr>th>p:last-of-type {
    margin-bottom: 0;
}

@media print {
    figure.table:not(.layout-table):not(:has(>figcaption)) {
        display: block;
        width: fit-content
    }

    figure.table:not(.layout-table)>table {
        height: auto
    }

    ;
}

figure.table.layout-table,
table.table.layout-table {
    margin-bottom: 0;
    margin-top: 0;
}

figure.table.layout-table>table,
table.table.layout-table {
    border-spacing: 0;
}

:root {
    --ck-content-color-table-caption-background: #f7f7f7;
    --ck-content-color-table-caption-text: #333;
}

.table>figcaption,
figure.table>table>caption {
    background-color: var(--ck-content-color-table-caption-background);
    caption-side: top;
    color: var(--ck-content-color-table-caption-text);
    display: table-caption;
    font-size: .75em;
    outline-offset: -1px;
    overflow-wrap: anywhere;
    padding: .6em;
    text-align: center;
    word-break: normal;
}

@media (forced-colors:active) {

    .table>figcaption,
    figure.table>table>caption {
        background-color: unset;
        color: unset
    }

    ;
}

.table .ck-table-resized {
    table-layout: fixed;
}

.table td,
.table th {
    overflow-wrap: break-word;
}